<%- include('partials/user-header-log') %>

<div class="container" id="block01">
  <div class="jumbotron centered">
    <h1 class="display-4">Create a secret</h1><br>
    <p class="secret-help">Don't keep your secrets, share them anonymously!</p>
    
    <hr>
    <h2>Upload your picture here</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" accept="image/*" name="photo" style="color:transparent">
      <input type="submit" value="upload">
    </form>
    <hr>
    <form action="/submit" method="POST">
      <div class="form-group">
      <input type="hidden" name="filename" value="<%= typeof filename != 'undefined' ? filename : 'default.jpg'%>"></input>
        <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret?">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
  </div>
</div>
<%- include('partials/user-footer') %>
